/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  font-family: "Poppins", sans-serif;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

h2{
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #A01619;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 2;
  padding: 40px 0;
  background-color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(138, 4, 4, 0.966);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #e1393a;
}

a.judul {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-transform: none;
}

a.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#header .logo img {
  max-height: 40px;
}

img.image {
  margin-top: -15px;
}

/*--------------------------------------------------------------
# Navigation Menu*/
#navbarNav a {
  color: #e1393a;
}

/*--------------------------------------------------------------
/**
* Desktop Navigation 
*/

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 125vh;
  background: #a01619;
  margin-bottom: -175px;
}

#hero .container {
  padding-top: 72px;
}

img.img-fluid.animated {
  margin-top: -100px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
  
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }

}


@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.polkadot {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background-repeat: repeat-y;
  background-size: cover;
  margin-bottom: 70px;
}

.glass {
  margin: 0 auto;
  width: 75%;
}

.judul-1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.glass h3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.glass p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.glass li {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}


.container-manfaat {
  margin: 0 auto;
  background-color: #e1393a;
  width: 80%;
  height: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  margin-bottom: 70px;
}

#manfaat {
  margin: 0 auto;
  width: 75%;
}



#manfaat p {
  color: white;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

#alur {
  width: 75%;
  margin: 0 auto;
}

#alur h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #A01619;
}

.judul-alur {
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

#alur p {
  font-size: 25px;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: rgba(138, 4, 4, 0.966);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: rgba(138, 4, 4, 0.966);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


#lokasi h2{
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #A01619;
}

.maps iframe{
  width: 900px;
  height: 450px;
}

.card {
  position:absolute;
  width: 60%;
  height: 70%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}
#lokasi img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.maps{
  padding-top: 600px;
  border-radius: 200px;
}

.maps h5{
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}


.merah{
  margin: 0 auto;
  margin-top: 30px;
  background-color: #E1393A;
  width: 100%;
  height:auto;
}

#kontak .container{
  
  width: 90%;
  padding-top: 60px;
  padding-bottom: 50px;
  
}

#kontak .container h3{
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
#kontak .container h5{
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Manfaat Donor
--------------------------------------------------------------*/

#footer {
  font-size: 18px;
  background: white;

}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #209dd8;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}


#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
  color: #e1393a;
}

#footer .credits {
  float: right;
  font-size: 18px;
  color: #e1393a;
}


@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}



@media only screen and (max-width: 600px) {
  
  #navbarNav a {
  color: #e1393a;
  font-size: 16px;
  }
  #header {
  padding: 30px 0;
  }

  .polkadot{
    margin-top:30px ;
    background-position: bottom;
  }
  .glass h2{
    font-size: 24px;
  }
  #sub-judul{
    font-size: 20px;
  }
  #tentang p {
    font-size: 16px;
  }
  #tentang video{
    height: 100%;
    width: 100%;
  }

  #judul-syarat{
    font-size: 20px;
  }
  #list li{
    font-size: 16px;
  }

  .mengapa h3{
    font-size: 24px;
  }

  #manfaat h2 {
    font-size: 24px;
  }
  #manfaat p{
    font-size: 16px;
  }

  #manfaat video{
    height: 120%;
    width: 120%;
  }

  #alur h2{
    font-size: 24px;
  }
  #alur h3{
    font-size: 20px;
  }

  #alur p{
    font-size: 16px;
  }

  #alur video{
    width: 120%;
    height: 120%;
  }
  #lokasi h2{
    font-size: 24px;
  } 

  #lokasi h5{
    font-size: 18px;
  } 

  .card {
    height: 40%;   
  }
  .maps{
  padding-top: 400px;
  border-radius: 200px;
  }

  #kontak h2{
    font-size: 26px;  
  }
  
  #kontak h3{
    font-size: 22px;  
  }
  
  #kontak h5{
    font-size: 20px;  
  }
  
  #footer{
    font-size: 14px;
  }
  
  .maps iframe{
    width: 400px;
    height: 300px;
  }
}